// Variables
$choc-chunk-base: #d6b56a;
$choc-chunk-topping: #524832;

.cookie--choc-chunk {
  .base {
    background-color: $choc-chunk-base;
  }

  .topping {
    width: 30px;
    height: 40px;
    background-color: $choc-chunk-topping;
    float: left;
    position: absolute;
    border-radius: 3px;

    &--1 {
      transform: rotateZ(10deg);
      left: 30%;
      top: 50%;
    }

    &--2 {
      transform: rotateZ(59deg);
      left: 60%;
      top: 20%;
    }

    &--3 {
      left: 50%;
      top: 70%;
    }
  }
}
