// Variables
$black-forrest-base: #383733;
$black-forrest-topping: #4a0d3d;

// Rules
.cookie--black-forrest {

  .base {
    width: $width;
    height: $height;
    background-color: $black-forrest-base;
    position: relative;
  }

  .topping {
    width: 40px;
    height: 40px;
    background-color: $black-forrest-topping;
    float: left;
    position: absolute;
    border-radius: 30px;

    &--1 {
      left: 30%;
      top: 20%;
      opacity: 0;
    }

    &--2 {
      left: 50%;
      top: 40%;
      opacity: 0;
    }

    &--3 {
      left: 45%;
      top: 50%;
    }
  }
}
